@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Quintessential&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/medias.css");

body{
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	font-weight: 500;
	background-color: #fbe9f5;
}

h1{
	font-family: 'Quintessential', cursive;
	font-weight: bolder;
}

h2,h3{
	font-family: 'Quintessential', cursive;
	font-weight: bolder;
	color: #D30000;
}
a{
	text-decoration:  none;
}




